:root {
    --red: rgb(236, 92, 92);
    --green: rgb(122, 243, 122);
    --black: rgb(39, 39, 39);
    --semi-glass: rgba(255, 255, 255, 0.808);
    --dark-glass: rgba(59, 59, 59, 0.808);
    --lime: rgb(196, 252, 42);
}

html {
    background-color: var(--black);
    color:aliceblue;
    font-family: monospace;
    height: 100vh;
    max-height: 100vh;
    overflow:hidden;
}

h1 {
    margin: 0;
    left:0;
    color: rgb(196, 252, 42);
    text-align: center;
    text-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.55);

}

#playlist_buttons {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 12vh;
    margin-left: auto;
    margin-right: auto;
}

#playlist_buttons button {
    margin: auto;
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    height:8vh;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: transparent; 
    font-size: 25px;
    color: aliceblue;
    box-shadow: 0 2px 15px 8px rgba(0, 0, 0, 0.35);
    transition: all 120ms;


}

#playlist_buttons button:hover {
    cursor:pointer;
    /* background-color: transparent !important; */
}

#hate {
    border-color: var(--red);
    color: var(--red) !important;
}

#hate:hover {
    background-color: var(--red) !important;
    color:white !important;
}

#like {
    border-color: var(--green);
    color:var(--green) !important;
}

#like:hover {
    background-color: var(--green);
    color:white !important;
}

#hate:active, 
#like:active {
    height: 6vh;
}

#pausePlay {
    border-color: white;
    color: white !important;
    height: 11vh !important;
}

#pausePlay:hover {
    background-color: white;
    color:var(--black) !important;
}

#pausePlay:active {
    height: 9vh !important;
}

.songart {
    position: absolute;
    left: 0;
    right: 0;
    width: 50vh;
    aspect-ratio: 1 / 1;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 5vh;
    background-color: aquamarine;
    background-position: center;
    background-size: cover;
    transition: 400ms ease;
    box-shadow: 0 7px 15px 8px rgba(0, 0, 0, 0.35);
}


/* These styles activate when the data-status variable of songart are at these settings.
    These are controlled by the javascript, in order to change where the song art
    disappears to upon pressing either button, and where they appear from as well. */
.songart[data-status="before"] {
    transform: translateX(-100%) scale(0);
    opacity: 0;
    /* width: 10vh;
    margin-left: 5vh;
    margin-top: auto; */
}

.songart[data-status="after"] {
    transform: translateX(100%) scale(0);
    opacity: 0;

}

.art {
    /* This is a placeholder image.
    We should probably have an image that is clearly not loaded from spotify.
    So that it's clear that this is just an unloaded image.
    Because currently its using an actual song you can find on spotify,
    as a placeholder icon. Which can be misleading. */
    /* background-image: url(/images/sampleart/Mariya_Takeuchi_-_Plastic_Love_2021.jpg); */
}

/* This is the text underneath the songart image that displays "Song Name by Artist Name" */
#songInfo {
    justify-content: center;
    text-align: center;
    /*transform: translateY(2000%); change this positioning later.*/
    position: absolute;
    left:0;
    right:0;
    top: 65vh;
    width: 100%;
    margin-left: auto;
    text-decoration: underline; 
    color:white;
}
a {
    color: white;
}

.mini_button {
    background-color: transparent;
    border-color: white;
    border-width: 2.25px;
    border-radius: 100%;
    height:5vh;
    width:5vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    color: white;
    box-shadow: 0 2px 15px 8px rgba(0, 0, 0, 0.35);
    transition: all 120ms;
}

.mini_button:hover {
    cursor:pointer;
    background-color: white;
    color: var(--black);
}

.mini_button:active {
    height: 4vh;
    width:4vh;
}

/* This contaisn the volume adjuster right now. */
.volume_block {
    width:fit-content;
    text-align: center;
    position: absolute;
    left: 0;
    right: -42vh;
    bottom: 15vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

/* This contains the song link right now. */
.options_block {
    width:fit-content;
    text-align: center;
    position: absolute;
    left: -42vh;
    right: 0;
    bottom: 15vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.footer {
    position:absolute;
    justify-content: center;
    text-align: center;
    margin: auto;
    width:100%;
    bottom:1vh;
    font-style:italic;
}

.pullup {
    position:absolute;
    justify-content: center;
    margin: auto;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--semi-glass);
    width: 60%;
    height: 95%;
    border-radius: 20px 20px 0 0;

    transition: transform 650ms ease;
}

.pullup[data-status="closed"] {
    transform:translateY(100%);
}

#close_pullup {
    border-style: none;
    background-color: var(--dark-glass);
    font-size: xx-large;
    position: inherit;
    padding: 10px;
    aspect-ratio: 1/1;
    width: 5vh;
    border-radius: 0 20px 0 0;
    right: 0;
    color: var(--lime);
}

#songlist[data-status="visible"] {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 7vh;
    width: 95%;
    height: 85vh;
    background-color: var(--black);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto !important;
}

#songlist[data-status="hidden"] {
    display: none;
}

.saved_song {
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    top: 10px;
    height: 4vh;
    justify-content: center;
    text-align: center;
    width:95%;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    align-items: center;
    display: flex;
}
.saved_song a {
    color: var(--lime) !important;

}

#optionslist[data-status="visible"] {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 7vh;
    width: 95%;
    height: 85vh;
    background-color: var(--black) !important;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto !important;
}
